// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
  background-color: #00acee;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
}

body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #00acee;
  color: #ffffff;
}

.images{
  width: 30px;

}

.content{
  font-size:2rem;
  color: #ffffff;
}

.footer{
  text-align: center;
  background-color: #00acee;
  color: #ffffff;
}
